body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 20px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
}

.banner {
  height: 700px;
  text-align: center;
  background-image: url(./img/banner.jpg);
}

.banner img {
  margin-top: 144px;
}

.main-section {
  padding: 0 112px 32px;
}

.main-section h2 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #231b0c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 105px;
  padding: 20px 50px 66px 50px;
  margin-bottom: 40px;
}

.card-title {
  align-self: center;
}

.footer {
  background-color: #150f02;
  text-align: center;
  padding: 40px 0 60px;
}

.footer-menu {
  column-count: 2;
  list-style-type: none;
  width: 60%;
  margin: 0 auto;
  padding-right: 5%;
}

.footer-menu li {
  margin-bottom: 24px;
}

.contacts a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 137%;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin: 0 0 6px 0;
}

.orange-line {
  width: 318px;
  height: 10px;
  background-color: #ff6b00;
  margin: 0 auto;
}

.social {
  margin-top: 20px;
}

.social a {
  margin: 0 32px;
}
